<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632502950899-g9ps201t7tuq220pum8k9lcbjs1c88ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632502950899-g9ps201t7tuq220pum8k9lcbjs1c88ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDbZr8fQ5ZDL3xUdmhIJJ7n_OjBlEwX8mc</string>
	<key>GCM_SENDER_ID</key>
	<string>632502950899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.maram.khusheim.Instagram-App</string>
	<key>PROJECT_ID</key>
	<string>instagram-266aa</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-266aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632502950899:ios:7163b54bb0a6740e44d086</string>
</dict>
</plist>